
 <!-- <section id="doctor" class="home-section bg-gray paddingbot-60">

    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow fadeInDown" data-wow-delay="0.1s">
          <div class="section-heading text-center">
          <h2 class="h-bold">Our Faciliest</h2>
          <p>Ea melius ceteros oportere quo, pri habeo viderer facilisi ei</p>
          </div>
          </div>
          <div class="divider-short"></div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        
            <div id="filters-container" class="cbp-l-filters-alignLeft">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All (<div class="cbp-filter-counter"></div>)</div>
                <div data-filter=".cardiologist" class="cbp-filter-item">Cardiologist (<div class="cbp-filter-counter"></div>)</div>
                <div data-filter=".psychiatrist" class="cbp-filter-item">Psychiatrist (<div class="cbp-filter-counter"></div>)</div>
                <div data-filter=".neurologist" class="cbp-filter-item">Neurologist (<div class="cbp-filter-counter"></div>)</div>
            </div>
    
            <div id="grid-container" class="cbp-l-grid-team">
                <ul>
                    <li class="cbp-item psychiatrist">
                        <a href="assets/doctors/member1.html" class="cbp-caption cbp-singlePage">
                            <div class="cbp-caption-defaultWrap">
                                <img src="assets/img/team/1.jpg" alt="" width="100%">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-text">VIEW PROFILE</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="assets/doctors/member1.html" class="cbp-singlePage cbp-l-grid-team-name">Alice Grue</a>
                        <div class="cbp-l-grid-team-position">Psychiatrist</div>
                    </li>
                    <li class="cbp-item cardiologist">
                        <a href="assets/doctors/member2.html" class="cbp-caption cbp-singlePage">
                            <div class="cbp-caption-defaultWrap">
                                <img src="assets/img/team/2.jpg" alt="" width="100%">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-text">VIEW PROFILE</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="assets/doctors/member2.html" class="cbp-singlePage cbp-l-grid-team-name">Joseph Murphy</a>
                        <div class="cbp-l-grid-team-position">Cardiologist</div>
                    </li>
                    <li class="cbp-item cardiologist">
                        <a href="assets/doctors/member3.html" class="cbp-caption cbp-singlePage">
                            <div class="cbp-caption-defaultWrap">
                                <img src="assets/img/team/3.jpg" alt="" width="100%">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-text">VIEW PROFILE</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="assets/doctors/member3.html" class="cbp-singlePage cbp-l-grid-team-name">Alison Davis</a>
                        <div class="cbp-l-grid-team-position">Cardiologist</div>
                    </li>
                    <li class="cbp-item neurologist">
                        <a href="assets/doctors/member4.html" class="cbp-caption cbp-singlePage">
                            <div class="cbp-caption-defaultWrap">
                                <img src="assets/img/team/4.jpg" alt="" width="100%">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-text">VIEW PROFILE</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="assets/doctors/member4.html" class="cbp-singlePage cbp-l-grid-team-name">Adam Taylor</a>
                        <div class="cbp-l-grid-team-position">Neurologist</div>
                    </li>
  
                </ul>
            </div>
      </div>
      </div>
    </div>
  
  </section>
  <!-- /Section: team -->
<!-- Section: works -->
<section id="facilities" class="home-section paddingbot-60">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow fadeInDown" data-wow-delay="0.1s">
          <div class="section-heading text-center">
          <h2 class="h-bold">Our facilities</h2>
          <p>We follow all protocols and our facilities include quality at its best.</p>
          </div>
          </div>
          <div class="divider-short"></div>
        </div>
      </div>
    </div>
  
  <div class="container">
      <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12" >
          <div class="wow bounceInUp" data-wow-delay="0.2s">
                    <div id="owl-works" class="owl-carousel">
                        <div class="item"><a href="assets/img/photo/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg"><img src="assets/img/photo/1.jpg" class="img-responsive" alt="img"></a></div>
                        <div class="item"><a href="assets/img/photo/2.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/2@2x.jpg"><img src="assets/img/photo/2.jpg" class="img-responsive " alt="img"></a></div>
                        <div class="item"><a href="assets/img/photo/3.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/3@2x.jpg"><img src="assets/img/photo/3.jpg" class="img-responsive " alt="img"></a></div>
                        <div class="item"><a href="assets/img/photo/4.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/4@2x.jpg"><img src="assets/img/photo/4.jpg" class="img-responsive " alt="img"></a></div>
                        <div class="item"><a href="assets/img/photo/5.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/5@2x.jpg"><img src="assets/img/photo/5.jpg" class="img-responsive " alt="img"></a></div>
                        <div class="item"><a href="assets/img/photo/6.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/6@2x.jpg"><img src="assets/img/photo/6.jpg" class="img-responsive " alt="img"></a></div>
                    </div>
          </div>
                </div>
            </div>
    </div>
  </section>
  <!-- /Section: works -->
  
  
  <!-- Section: testimonial -->
    <section id="testimonial" class="home-section paddingbot-60 parallax" data-stellar-background-ratio="0.5">
  
  <div class="carousel-reviews broun-block">
    <div class="container">
        <div class="row">
            <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
            
                <div class="carousel-inner">
                    <div class="item active">
                      <div class="col-md-4 col-sm-6">
                    <div class="block-text rel zmin">
                    <a title="" href="#">Diabetes Laboratory</a>
                  <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
                    <p>Recently visited health check up for Diabetic of Fortune Diabees center for a whole body check up. The entire process from check in to the end was seamless. I plan to visit and do checkup regularly also main advantage is they provide online consultation 24/7 service. Great facility at this pandemic situation.</p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                  </div>
              <div class="person-text rel text-light">					
                <img src="assets/img/testimonials/1.jpg" alt="" class="person img-circle" />
                <a title="" href="#">Gopal Rao</a>
                <span>Hyderabad, 2021</span>
              </div>
            </div>
                  <div class="col-md-4 col-sm-6 hidden-xs">
                <div class="block-text rel zmin">
                    <a title="" href="#">General checkup</a>
                  <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
                    <p>The staff at the health check department was courteous, helpful and very attentive. I would highly recommend Fortune Diabetes to anyone looking for something similar services.</p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                    </div>
              <div class="person-text rel text-light">
                        <img src="assets/img/testimonials/2.jpg" alt="" class="person img-circle" />
                <a title="" href="#">Annapurna</a>
                <span>Nagole, 2021</span>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
              <div class="block-text rel zmin">
                <a title="" href="#">Eye care</a>
                <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
                    <p>Excellent doctor!!!Very thorough and caring. I'm terribly afraid of the dentist and doctor's very sensitive to that and goes the extra mile to make you feel comfortable. ...</p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
              </div>
              <div class="person-text rel text-light">
                <img src="assets/img/testimonials/3.jpg" alt="" class="person img-circle" />
                <a title="" href="#">Shubodh Kumar</a>
                <span>Nagole, Anand Nagar</span>
              </div>
            </div>
                    </div>
                    <div class="item">
                        <div class="col-md-4 col-sm-6">
                    <div class="block-text rel zmin">
                    <a title="" href="#">Dental care</a>
                  <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
                    <p>No pain or problems with my extractions and doctor goes above and beyond the call of duty to make sure you understand what you should do with your teeth and mouth so you do not have future health risks. I found her to be very professional and truly caring about your oral health...</p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                  </div>
              <div class="person-text rel text-light">
                <img src="assets/img/testimonials/4.jpg" alt="" class="person img-circle" />
                <a title="" href="#">Ashwin</a>
                <span>Hubsiguda, Uppal</span>
              </div>
            </div>
                  <div class="col-md-4 col-sm-6 hidden-xs">
                <div class="block-text rel zmin">
                    <a title="" href="#">General checkup</a>
                  <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
                    <p>Good staff and clean place. I recommend everyone who looks online appointment over aboard</p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                    </div>
              <div class="person-text rel text-light">
                <img src="assets/img/testimonials/5.jpg" alt="" class="person img-circle" />
                    <a title="" href="#">Ella Mentree</a>
                <span>Fort Worth, Texas</span>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
              <div class="block-text rel zmin">
                <a title="" href="#">Cervical Lesions</a>
                <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
                    <p>My father is being treated here for his Diabetes.
                      The staff and Doctor are well behaved and i recommend the place for anyone seeking treatment for Diabetes....</p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
              </div>
              <div class="person-text rel text-light">
                <img src="assets/img/testimonials/6.jpg" alt="" class="person img-circle" />
                <a title="" href="#">Kumaraswamy</a>
                <span>Secunderabad, 2021</span>
              </div>
            </div>
                    </div>
                    
                   
                </div>
        
                <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
  </div>
  </section>
  <!-- /Section: testimonial -->  